
body {
	font-family: ariel, verdana, sans-serif;
	font-size: 100%
}
h1 {
	color: green;
	font-style: bolder;
}
#slider div {
	background-color: red;
	height: 400px;
}
.row #sch {
	background-color: hotpink;
	height: 3oopx;
}
.row #news {
	background-color: green;
	height: 3oopx;
}
#info {
	background-color: black;
	height: 3oopx;
}